.container {

    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    padding: 0;
}

.first {
    display: flex;
    gap: 5%;
    margin-top: -35%;
    align-items: center;

}
@media screen and (max-width: 1200px) {
   
    .first {
        display: flex;
        gap: 5%;
        height: 15vw;
        margin-top: 0%;
        align-items: center;
    
    }
}
.box {
    display: flex;
    gap: 10px;
}

.img {
    width: 100%;
}

.firstHeading {
    font-weight: 700;
    font-size: 180%;
    color: #0B6E4F;
}

.input {
    width: 300px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 12px;
    border: none;
    padding: 3%;
}

.search {
    width: 100px;
    height: 40px;
    background: #13AE7E;
    border-radius: 12px;
    border: none;
    margin-top: 3%;
    color: #FFFFFF;
    font-weight: 400;
}

.second {

    display: flex;
    justify-content: space-between;
}

.secondHeading {
    font-weight: 600;
    color: #0B6E4F;
    font-size: 130%;
}

.load {
    text-decoration-line: underline;
    color: #0B6E4F;
    font-weight: 400;
}

.third {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 45%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
    border-radius: 12px;

}

.img {
    height: 200px;
}

.lower {
    display: flex;
    justify-content: space-between;
}

.cardsShow {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    opacity: 1;
    justify-content: flex-start;
    flex: 1.2;
    width: 30%;
    padding: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
    border-radius: 12px;

}

.about {
    display: flex;
    font-weight: 600;
}

.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    font-size: 120%;
    margin-left: 2%;
    align-items: center;
    margin: 0;
}

.number {
    font-size: 120%;
    margin: 0;
}

.time {
    margin: 0;
    font-weight: 400;
    color: #AAACAF;
    margin-left: 5%;
}

.heading {
    color: #0B6E4F;
    font-size: 150%;

}
@media screen and (max-width: 540px) {
    .img{
     height: 150px;
    }
    .first {
        display: flex;
        gap: 5%;
        margin-top: 10%;
        align-items: center;
    
    }
    .firstHeading {
        font-weight: 700;
        font-size: 150%;
        color: #0B6E4F;
    }
    .cardsShow {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 45vw;
        max-width: 100%;
        padding: 1.5%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin-bottom: 3%;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
        border-radius: 12px;
    }
    .third{
        display: block;

    }
    
}
@media screen and (max-width: 400px) {
    .img{
     height: 150px;
    }
    .first {
        display: flex;
        gap: 5%;
        margin-top: 20%;
        align-items: center;
    
    }
    .firstHeading {
        font-weight: 700;
        font-size: 150%;
        color: #0B6E4F;
    }
    .cardsShow {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 60vw;
        max-width: 100%;
        padding: 1.5%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin-bottom: 3%;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
        border-radius: 12px;
    }
    .third{
        display: block;

    }
    .about {
        display: flex;
        font-weight: 600;
    }
    .number{
        font-size: 90%;
    }
    .lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        display: flex;
        font-size: 90%;
        margin-left: 2%;
        align-items: center;
        margin: 0;
    }
    
}
@media (max-width: 300px) {
    .cards{
        height: 65vw;
    }
    .box{
        display: block;
        margin-top: 30%;
    }
    .second{
        margin-top: 30%;
    }
    .firstHeading{
        font-size: 20px;
    }
  
}
